*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    text-align: center;
} 
:root{
    --negro:#000000;
    --celeste:#00C5DB;
    --blanco:#FFFFFF;
    --verdeAgua:#00CDBE;
    --rojoApagado:#A2331C;
    --gris:#929CA8;
    --grisOscuro:#21201B;
}
body{
    height: 100vh;
    background: url("../img/fondo.jpg");
    object-fit:cover ;
    background-size: 100%;
    display: flex;
}
.userContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 700px;
    border-radius: 30px;
    background-color: var(--negro);
    padding:50px 70px ;
    box-shadow: 4px 6px 2px var(--celeste);
    align-items: center;
}
.btn{
    background-color: var(--gris);
    box-shadow: 3px 6px 2px rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    height: 100px;
    width: 100%;
    border: none;
    margin-top: 20px;
}
.btn:hover{
    box-shadow: inset 3px 6px 2px rgba(0, 0, 0, 0.7);
}
.userContainer img{
    width: 210px;
}
.userContainer p{
    color: var(--blanco);
    margin-top: 10px;
    font-size: 40px;
}
.txtUser{
    box-shadow: none;
    border: 2px solid var(--blanco);
    background-color: var(--grisOscuro);
    color: var(--blanco);
}
.btnStart{
    background-color: var(--blanco);
}
.btnSave{
    padding: 10px 15px;
    font-size: 1.3rem;
    border: none;
    background-color: #222;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 15px;    
    -webkit-box-shadow: 3px 6px 15px -4px rgba(0,0,0,0.5); 
    box-shadow: 3px 6px 15px -4px rgba(0,0,0,0.5);
    cursor: pointer;
}
.btnSave:hover{
    background-color: #222;
}
h1{
    text-align: center;
    padding: 20px;
    font-size: 3rem;
}
.msgBox{

    margin: auto;
    margin-top:30px;
    display: flex;
}
.msg{
    font-weight: bold;
    font-size: 1.5rem;
    margin: auto;
}
.correcto{
    color: green;
    font-size: 2.5rem;
}
.incorrecto{
    color: red;
    font-size: 2.5rem;
}
.container{
    display: flex;
    flex-direction: column;
}
.preg__container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #222;
    color: white;
    font-weight: bold;
    padding: 15px 25px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}


.resp_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #bbb;
    padding: 15px 25px;
}
#resp1{
    margin-top: 0px;
}
.resp__item{
    background-color: antiquewhite;
    border: 1px solid black;
    display: inline-block;
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 15px;
    -webkit-box-shadow: 3px 6px 15px -4px rgba(0,0,0,0.5); 
    box-shadow: 3px 6px 15px -4px rgba(0,0,0,0.5);cursor: pointer;
}
.btnGenPreg{
    cursor: pointer;
    margin: auto;
    margin-top: 30px;
    border: none;
    border-radius: 15px;
    background-color: #222;
    color: white;
    padding: 20px 50px;
    font-size: 2rem;
    font-weight: bold;
    -webkit-box-shadow: 3px 6px 15px -4px rgba(0,0,0,0.5); 
    box-shadow: 3px 6px 15px -4px rgba(0,0,0,0.5);
}
.btnGenPreg:hover,.resp__item:hover,.btnSave:hover{
    -webkit-box-shadow: inset 3px 6px 15px -4px rgba(0,0,0,0.5); 
    box-shadow: inset 3px 6px 15px -4px rgba(0,0,0,0.5);
}