*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    
}
h1{
    text-align: center;
    padding: 20px;
    font-size: 3rem;
}
.msgBox{

    margin: auto;
    margin-top:30px;
    display: flex;
}
.msg{
    font-weight: bold;
    font-size: 1.5rem;
    margin: auto;
}
.correcto{
    color: green;
    font-size: 2.5rem;
}
.incorrecto{
    color: red;
    font-size: 2.5rem;
}
.container{
    display: flex;
    flex-direction: column;
}
.preg__container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #222;
    color: white;
    font-weight: bold;
    padding: 15px 25px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}


.resp_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    background-color: whitesmoke;
    padding: 15px 25px;
}
#resp1{
    margin-top: 0px;
}
.resp__item{
    background-color: antiquewhite;
    border: 1px solid black;
    display: inline-block;
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 15px;
    -webkit-box-shadow: 3px 6px 15px -4px rgba(0,0,0,0.5); 
box-shadow: 3px 6px 15px -4px rgba(0,0,0,0.5);
}
.btnGenPreg{
    margin: auto;
    margin-top: 30px;
    border: none;
    border-radius: 15px;
    background-color: #222;
    color: white;
    padding: 20px 50px;
    font-size: 2rem;
    font-weight: bold;
    -webkit-box-shadow: 3px 6px 15px -4px rgba(0,0,0,0.5); 
    box-shadow: 3px 6px 15px -4px rgba(0,0,0,0.5);
}
.btnGenPreg:hover,.resp__item:hover{
    -webkit-box-shadow: inset 3px 6px 15px -4px rgba(0,0,0,0.5); 
    box-shadow: inset 3px 6px 15px -4px rgba(0,0,0,0.5);
}